* { 
	margin: 0;
	padding: 0;

}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 56px;
    margin: 0 auto 25px auto;
    text-align: center;
    padding: 35px;
    opacity: 0.8;
    color: rgb(80, 80, 80);
    color: #DD5887;
}
.four h1 {
	margin-top: 75px;
}

.reading h1 {
	margin-top: 50px;
	margin-bottom: 0px;
    padding-bottom: 15px;
}

h2 {
	font-size: 2.8em;
}

h3 {
	text-align: center;
	font-size: 1em;
	font-weight: normal;
}

a {
	text-decoration: none;
	cursor: pointer;
}

p {
	line-height: 1.5em;
	letter-spacing: 0.03em;
	font-size: 1.3em;
	font-weight: normal;
	color: rgb(80, 80, 80);
}

input {
	margin: 10px auto;
	border: 1px solid #000;
	min-height: 50px;
	min-width: 200px;
}

hr {
	margin: 20px auto;
	width: 30%;
	border-top: 4px double #8c8b8b;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	text-align: center;
}
hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background-color: #FDFCF7;
	color: #8c8b8b;
	font-size: 18px;
}

blockquote {
	font-size: 2em;
	font-weight: 700;
	padding: 0 0 0 172px;
	margin: 0 auto 20px auto;
	text-align: center;
	color: #dd5886;
	width: 55%;
	font-style: italic;
	/* text-shadow: 2px 2px 0px #88BCB2; */
	text-align: right;
}

/*
blockquote:before {
	content: '\201C';
	color: #000;
	font-size: 50px;
}

blockquote:after {
	content: '\201D';
	color: #000;
	font-size: 50px;
} */

[type="message"] {
	min-height: 100px;
}

[type="email"] {
	
}
/*
.container {
	/* background-color: rgb(66, 244, 229); 
	width: 100%;
	padding: 75px 0px;

} */

.header {
	background-color: #FDE74C;
	/* border: 15px solid black; */
	position: fixed;
	height: 75px;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 4px 40px -10px rgba(64,78,77,0.75);

}

nav {
	text-align: center;
	font-size: 0;
}

nav a {
	color: #404e4d;
	display: inline-block;
	margin: 0px 40px;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	position: relative;
	padding: 27px 0px;
	font-size: 16px;
}
/* 
.nav {
	position: relative;
	padding: 27px 0px;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
} */

.nav.top {

}

.nav.bottom {

}

/*.main {
	/* background: url(assets/img/JS-1206-WEB.jpg) no-repeat center center fixed;
	/* background-color: orange;
	border: 20px solid purple; 
	height: 1000px;
	width: 100%;
	z-index: -1000;
	padding-top: 75px; /*
	text-align: center; */
}

.content {
	/* background-color: yellow;
	border: 10px solid pink; */
	width: 60%;
	height: 25%;
	margin: auto;
	text-align: center; /*
	display: inline-block; */
}

#title {
	width: auto;
	display: inline-block;
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 900;
	color: rgba(253, 231, 76, 0.9);
	font-size: 5.7em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 5px 5px 0px rgb(214, 51, 108);

}

.btn {
	text-align: center;
	position: relative;
	top: 50%;
	background-color: rgb(91, 192, 235);
    height: 20%;
    line-height: 50px;
    width: 25%;
    min-width: 200px;
    margin: 0 auto 100px auto;
    cursor: pointer;

}

.btn a {
	color: white;
}

.btn:hover {
	background: rgb(91, 192, 235);
}

.btn:focus {
	outline: 0 !important;
}

.btn-default {
	margin-bottom: 0px;
    border: 4px solid rgb(91, 192, 235);
    border-radius: 0;
    text-transform: uppercase;
    background: rgba(80, 80, 80, .8);
    color: white;

}

.filter-button {
    border-radius: 0;
    margin-bottom: 20px;
    border: 0;
}

.footer {
	color: rgba(255, 255, 255, .8);
	font-size: 0.8em;
}

/*
.profiles {
	padding-top: 75px;
} */

#wedstival {
	text-align: center;
	padding-top: 40px;
	margin-bottom: 20px;
	opacity: 0.8;
}

.reading {
	background-color: #FDFCF7;
	text-align: center;
	/* max-width: 800px;
	min-width: 300px;
	margin: 50px auto;
	max-height: 480px; */
}

.slide {
	/* height: 100%; */
	position: relative;
	margin: 0;
	padding: 0 0 20px 0;
}

.profile-pic {
	width: 130px;
	height: 130px;
	padding: 0;
	/* float: left; */
	border-radius: 30%;
}

.profile-pic-2 {
	width: 130px;
	height: 130px;
	margin: 40px 0 0 0;
	padding: 0;
	/* float: left; */
	border-radius: 30%;
}

.steph, .john {
	/* margin-left: 100px; */
	/* margin-bottom: 220px; */
	max-width: 100%;
	text-align: center;
}

.steph {
	background-color: #BCDFE5;
	text-align: center;
}

.john {
	background-color: #FDFCF7; 
	text-align: center;
	padding-top: 30px;
}

#vows-text, #vows-text-1, #vows-text-2, #vows-text-john {
	padding: 20px;
	width: 60%;
	text-align: left;
}

#vows-text, #vows-text-1, #vows-text-john {
	margin: 0 auto;
}

#vows-text-2 {
	margin: 0 auto 0 auto;
}

#vows-text-john {
	color: rgb(80, 80, 80);
	padding-top: 50px;
}

.caption {
	width: 5%;
    margin-left: 20%;
    padding: 0 0 15px;
    /* margin-bottom: 30px; */
    font-size: 1.3em;

}

.vows { /* 
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;  Chrome, Safari, Opera 
	-moz-column-gap: 40px;  Firefox 
	column-gap: 40px;
    -webkit-column-rule: 1px solid #b5b7b7; Chrome, Safari, Opera 
    -moz-column-rule: 1px solid #b5b7b7; Firefox 
    column-rule: 1px solid #b5b7b7; */
    margin-top: 80px;
    background-color: rgb(171,221,198);

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 100px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
p:before {
	content: '\201C';
	color: red;
	font-size: 50px;
}

p:after {
	content: '\201D';
	color: red;
	font-size: 50px;
}
*/


@media only screen and (max-width: 768px) {

   #title { font-size: 50px; }

}

@media only screen and (max-width: 375px) {

   /* #title { font-size: 1.5em; } */
   blockquote, p, #vows-text-1, #vows-text-2, #vows-text, #vows-text-john {     
   	padding-left: 0px;
   	padding-right: 0px;
    margin: 0 10%;
    width: 80%;
    font-size: 1.5em; }
    h2 {
    font-size: 2em;
    padding-top: 20px;
    }
    h3 {
    font-size: 0.85em;
    width: 95%;
    }
    hr {
    	width: 55%;
    }
    nav a {
    margin: 0px 15px;
    letter-spacing: 0;
    }
    p {
    	font-size: 1em !important;
    }
    .caption {
    	margin-left: 10%;
    }
    .content {
    	margin: 0;
    }

    .btn {
    	/* margin: 0 90px; */
    	line-height: 46px;
    }

}

@media (min-width: 768px) and (max-width: 2560px) {
	.four h1 {
	padding-top: 100px;
}
	.leader {
		margin: 0 auto;
		width: 70%;
	}
}

@media (min-width: 376px) and (max-width: 766px) {
  #vows-text, #vows-text-1, #vows-text-2, #vows-text-john {
    width: 80%;
  }
  blockquote {
    width: 80%;
    padding: 0 0 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  blockquote {
    padding: 0 0 0 40px;
  }
}

